/* ======================start component======================  */
:root {
  --main-color: #fff;
  --secondary-color: rgb(0, 120, 194);
  --third-color: #999;
  --button-color: rgb(243, 107, 91);
  --fourth-color: #161616;
  --main-padding: 5rem;
  --main-transition: 0.5s;
}
* {
  font-family: Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url(../img/banner/2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.title {
  color: var(--fourth-color);
  text-align: center;
  width: 100%;
  max-width: 70rem;
  padding: 5rem 0;
  margin: 0 auto;
  h1 {
    font-size: 5rem;
    font-weight: 700;
  }
  p {
    font-size: 1.6rem;
    color: var(--third-color);
    margin-bottom: 2rem;
    line-height: 1.7;
  }
}
.button {
  padding: 1rem 2rem;
  color: var(--main-color) !important;
  background-color: var(--button-color) !important;
  border: 3px solid var(--button-color) !important;
}
.button.active,
.button:hover {
  background-color: transparent !important;
  color: var(--button-color) !important;
}
/* ======================end component======================  */
/* ======================start header======================  */
header {
  background-color: var(--main-color);
  position: relative;
  border-bottom: 5px solid var(--secondary-color);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    .logo img {
      height: 9rem;
    }
    .nav-list {
      display: flex;
      align-items: center;
      gap: 2.5rem;
      transition: var(--main-transition);
      a {
        font-size: 2rem;
        margin: 1rem;
        color: var(--secondary-color);
        font-weight: 600;
        transition: var(--main-transition);
      }
      a.active,
      a:focus,
      a:hover {
        color: var(--button-color);
      }
    }
    .fa-bars {
      display: block;
      font-size: 3rem;
      padding: 0.5rem 1rem;
    }
    .fa-bars:focus,
    .fa-bars:hover {
      color: var(--secondary-color);
    }
    .nav-list.active,
    .fa-bars:hover ~ .nav-list {
      opacity: 1;
      visibility: visible;
    }
  }
}
@media (max-width: 1199px) {
  header .container .nav-list {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh ;
    align-items: center;
    padding: 35px;
    background-color: var(--fourth-color);
    transition: var(--main-transition);
    /* visibility: hidden;
    opacity: 0; */
    z-index: 999;
    li{
      width: 100%;
      margin: 0;
      a{
        display: block;
        color: var(--main-color);
        border-bottom:1px solid var(--third-color);
        padding: 1rem 0;
        width: 100%;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
}
    }
  }
  header .container .show {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  header .container .fa-bars {
    display: none;
  }
}
/* ======================end header======================  */
/* ======================start landing======================  */
.landing {
  height: calc(50vh);
  /* background-image: url(../image/landing.jpeg); */
  background-color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  .container {
    max-width: 70rem;
    width: 100%;
    text-align: center;
    p {
      color: #ccc;
      font-size: 1.6rem;
      line-height: 1.7;
    }
    h1 {
      font-size: 4rem;
      color: var(--secondary-color);
      margin: 1rem 0;
      font-weight: 700;
    }
    a {
      padding: 1.5rem 3rem;
      display: block;
      margin: 3rem auto;
      width: fit-content;
      font-size: 2rem;
      font-weight: bold;
      transition: var(--main-transition);
    }
  }
}
/* ======================end landing======================  */
/* ======================start about us======================  */
.about {
  padding: var(--main-padding) 0;
  background-color: #eee;
  margin-bottom: var(--main-padding);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    .box {
      padding: 2rem;
      min-width: 25rem;
      width: calc((100% - 7rem) / 2);
      h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: var(--fourth-color);
        font-weight: bold;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.7;
        color: var(--third-color);
      }
    }
    @media (max-width: 767px) {
      .box {
        width: 100%;
      }
    }
  }
}
/* ======================end about us======================  */
/* ======================start services======================  */
.services {
  padding: var(--main-padding) 0;
  background-color: var(--main-color);
  position: relative;
  z-index: 1;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    .box {
      width: calc((100% - 6rem) / 3);
      min-width: 25rem;
      padding: 2rem;
      text-align: start;
      border-radius: 1rem;
      background-color: var(--main-color);
      box-shadow: 0px 0px 20px #0000003b;
      z-index: 2;
      h2 {
        font-size: 2.5rem;
        color: var(--fourth-color);
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.6rem;
        color: var(--third-color);
        line-height: 1.7;
      }
      i {
        font-size: 4rem;
        margin-bottom: 3rem;
        color: var(--button-color);
        margin-bottom: 3rem;
        padding: 2rem;
        background-color: rgba(255, 68, 0, 0.208);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    @media (max-width: 767px) {
      .box {
        width: calc(100% - 2rem);
      }
    }
  }
}
.services::before {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-color);
  z-index: -1;
}
/* ======================end services======================  */
/* ======================start process======================  */
.process {
  padding: var(--main-padding) 0;
  background-color: #eee;
  p {
    color: var(--third-color);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .timeline {
    display: flex;
    align-items: center;
    position: relative;
    padding: var(--main-padding) 0;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
  }

  .item {
    text-align: center;
    width: calc(100% / 6);
    position: relative;
    .icon {
      width: 7.5rem;
      height: 7.5rem;
      background-color: #fff;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-45deg);
      margin: 0 auto 10px;
      border: 2px solid var(--button-color);
      color: var(--button-color);
      font-weight: bold;
      position: relative;
      z-index: 1;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      i{
        font-size: 4rem;
        color: rgba(243, 106, 91, 0.862);
      }
    }

    h3 {
      margin: 0;
      font-size: 14px;
      color: #333;
    }
  }
  .item:nth-child(odd) {
    margin-top: -6rem;
  }
  .item:nth-child(even) {
    margin-bottom: -11rem;
  }
  .item:nth-child(odd) h3 {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .item::before {
    content: attr(--i);
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    color: rgba(243, 106, 91, 0.523);
    font-weight: bold;
    z-index: 0;
  }
  .item:nth-child(odd)::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .item:not(:last-child)::after {
    content: "\f30b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 3.5rem;
    left: 85%;
    transform: translateY(-50%);
    width: 2rem;
    right: 2rem;
    font-size: 5rem;
    color: rgba(243, 106, 91, 0.523);
    z-index: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  @media (max-width: 767px) {
    .item:not(:last-child)::after {
      display: none;
    }
  }
}

/* ======================end process======================  */
/* ======================start work======================  */
.work {
  padding: var(--main-padding) 0;
  .container {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      li {
        margin-bottom: 2rem;
        a {
          margin-right: 4rem;
          color: var(--fourth-color);
          font-size: 20px;
          transition: all var(--main-transition);
          -webkit-transition: all var(--main-transition);
          -moz-transition: all var(--main-transition);
          -ms-transition: all var(--main-transition);
          -o-transition: all var(--main-transition);
        }
        a.active {
          color: var(--button-color);
          border-bottom: 2px solid var(--button-color);
        }
        a:hover {
          color: var(--button-color);
        }
      }
    }
    .image {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin-top: var(--main-padding);
      img {
        width: 100%;
      }
      .box {
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
      }
      .box:hover .text {
        opacity: 1;
      }
      .box:hover::before,
      .box:hover h4,
      .box:hover h3 {
        transform: scale(1);
        opacity: 1;
      }
      .box::before {
        content: "";
        position: absolute;
        width: 60%;
        height: 3px;
        background-color: var(--button-color);
        z-index: 2;
        transition: all var(--main-transition) ease-in-out;
        transform: scale(10);
        opacity: 0;
      }
      .text {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgb(0 0 0 / 50%);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: all var(--main-transition) ease-in-out;

        -webkit-transition: all var(--main-transition) ease-in-out;
        -moz-transition: all var(--main-transition) ease-in-out;
        -ms-transition: all var(--main-transition) ease-in-out;
        -o-transition: all var(--main-transition) ease-in-out;
        h3 {
          font-size: 25px;
          color: var(--main-color);
          margin: 1rem 0;
          width: 100%;
          border-bottom: 1px solid rgb(0 0 0 / 30%);
          transition: all var(--main-transition) ease-in-out;
          transform: scale(10);
          opacity: 0;
        }
        h4 {
          font-size: 2rem;
          color: white;
          margin: 1rem 0;
          transition: all var(--main-transition) ease-in-out;
          transform: scale(10);
          opacity: 0;
        }
      }
    }
  }
  li:hover ~ .image {
    display: none;
  }
}

/* ======================end work======================  */
/* ======================start our clients======================  */
.clients {
  padding: var(--main-padding) 0;
  background-color: #eee;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    img {
      width: 100%;
    }
  }
}
/* ======================end our clients======================  */
/* ======================start footer======================  */

footer {
  padding: 5rem 0;
  background-color: rgb(22, 36, 72);
  .info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    img{
      width: 10rem;
      margin-bottom: 1rem;
    }
    li,
    p{
      color: var(--third-color);
      font-size: 1.6rem;
      line-height: 1.7;
    }
    .box {
      color: var(--main-color);
      max-width: 100%;
      width: calc((100% - 8rem)/5);

      h3 {
        font-size: 20px;
        margin: 25px 0;
        border-bottom: 3px dashed;
        font-weight: 400;
        width: fit-content;
        text-transform: uppercase;
      }
      a {
        color: var(--main-color);
        font-size: 1.6rem;
        display: block;
        margin: 1rem 0;
        transition: 0.5s;
        i {
          margin-right: 1rem;
        }
      }
      a:hover {
        color: var(--button-color);
      }
      .facebook:hover {
        color: #0d69d5;
      }
      .linkedin:hover {
        color: blue;
      }
      .instagram:hover {
        color: #ac6eea;
      }
      .twitter:hover {
        color: #00acee;
      }
      .youtube:hover {
        color: #ff0000;
      }
      @media (max-width: 767px) {
        h3 {
          margin: 25px 0;
        }
      }
    }
    @media (max-width: 991px) {
      .box {
        width: calc((100% - 2rem)/2);
      }
      
    }
    @media (max-width: 767px) {
      .box {
        width: 100%;
        text-align: center;
        h3{
          margin: 25px auto;
        }
      }
      
    }
  }
}

/* ======================end footer======================  */
